.App {
  text-align: center;
}

.cards-gallery {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rectangle {
  width: 200px;
  height: 100px;
}